[prod_server]
server = prodserver.somelocation.com
db = ApiDatabase
uid = admin
pwd = gAAAAABgIlpD4kY0ODMqIW1-YI7rHpK-jWIqVUfxKD5xtjHUHPEc4Z8M0RInceT8_Lmj9KQRdC1wWICZzKGySv9G6TUE27FXzSkIMhOdrNZWs60vgclXNTg=

[dev_server]
server = devserver.somelocation.com
db = ApiDatabase
uid = admin
pwd = gAAAAABgIlpD4kY0ODMqIW1-YI7rHpK-jWIqVUfxKD5xtjHUHPEc4Z8M0RInceT8_Lmj9KQRdC1wWICZzKGySv9G6TUE27FXzSkIMhOdrNZWs60vgclXNTg=

[local_db]
server = BNULA-PC\CROWLEY1
db = ApiDatabase
uid = admin
pwd = gAAAAABgIlpD4kY0ODMqIW1-YI7rHpK-jWIqVUfxKD5xtjHUHPEc4Z8M0RInceT8_Lmj9KQRdC1wWICZzKGySv9G6TUE27FXzSkIMhOdrNZWs60vgclXNTg=